<section class="ph2 pv5">
<article class="mw8 center br2 ba b--light-blue bg-lightest-blue dt-ns dt--fixed-ns">
	<div class="pa3 dtc-ns v-mid">
        <div class="tc">
          <h2 class="fw4 blue mt0 mb3">
          {{ caption | default(value='Want to count something?') }}
          </h2>
          <p class="black-70 lh-copy mv0">
            Count On Me app for Android OS is easily available for you to install in the Google Play store.
          </p>
        </div>
      </div>
      <div class="pa3 dtc-ns v-mid w-30-ns w-100">
        <a href="https://play.google.com/store/apps/details?id=com.topappfield.CountOnMe" class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2">Install from Google Play store</a>
	</div>
</article>
</section>
