<section class="container">
	<div class="alert alert-info w-75 p-4 mx-auto">
	  <div class="row">
	    <div class="col-md-8 col-12 text-center">
	      <h2 class="text-primary">
	        {{ caption | default(value=question) }}
	      </h2>
	      <p class="text-muted">
	        {{ motto }}
	      </p>
	    </div>
	    <div class="col-md-4 col-12 d-flex">
	        <a class="btn btn-primary m-auto" href="https://play.google.com/store/apps/details?id=com.topappfield.{{appid}}">Install from Google Play store</a>
	    </div>
	  </div>
	</div>
</section>
