<!DOCTYPE html>
<html lang="{{ config.default_language | default(value='en-US') }}">


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


{#
<link rel="stylesheet" href="{{ get_url(path='tachyons.min.css') }}">
<link rel="stylesheet" href="{{ get_url(path='style.css') }}">
*}
<link rel="stylesheet" href="tachyons.min.css">
<link rel="stylesheet" href="style.css">


<title>{{ section.title }} - TopAppField</title>
</head>


<body class="helvetica bg-near-white">

{% block header %} {% endblock header %}

{% block main %} {% endblock main %}


<footer class="ma0 mt7 footer-bg-color">
{% block footer %} {% endblock footer %}
<section class="tc pa4">
	<img src="imgs/logo.png" class="w3 br-100" alt="TopAppField">
	<h1 class="dark-green ma0">TopAppField</h1>
	<p class="tc gray ">© 2021 – 2022 Copyright TopAppField. All rights reserved. Various trademarks held by their respective owners.</p>
</section>
</footer>

</body>


</html>