{% extends "_base.html" %}

{% block navbar %}
{{ macros::navbar() }}
{% endblock navbar %}


{% block header %}
<div class="py-5"></div>
<header class="py-3">
	<article class="container p-5 w-75 text-center top-header border rounded">
		<img src="{{ section.path }}icon.png" class="w-15 p-1 border rounded-circle border-success" alt="Count On Me">
		<h1 class="fs-1 mt-3 mb-1 top-header">Count On Me</h1>
		<h2 class="fs-4 fw-light text-tracked">A counter app with many options, advanced features, statistics, and various methods of counting.</h2>
	</article>
</header>
{% endblock header %}


{% block main %}
<section class="py-5">
	<div class="py-5"></div>
	<article class="container text-center">
		<img class="w-100 img-fluid" src="/countonme/banner.png">	
	</article>
	<div class="py-5"></div>
</section>


<section class="py-5">
{{ macros::install_countonme() }}
</section>


<section class="py-5 bg-warning bg-opacity-10">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Features</h1>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Privacy-first app</h3>
					<p class="text-muted">Your data is stored only on your phone and remains there. Nothing is transfered to the internet except if you export your data on your own.
						Check our <a href="countonme/privacy-policy">privacy policy</a>.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Free of ads</h3>
					<p class="text-muted">There are no ads in the app. No bandwidth stealing and no delays due to ad loading. Your focus stays on counting.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Full customizable</h3>
					<p class="text-muted">Create many different types of counters and organize them using tags. Set counter label, color, icon, sound, description, etc.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Various effects available</h3>
					<p class="text-muted">Notification of counter change via feedback such as sound effect, phonelight flash, screen flash, vibration etc.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Rich data and statistics</h3>
					<p class="text-muted">See details of your counters. Follow your progress with graphical progress bar. Compare increments and decrements with pie chart.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Advanced features</h3>
					<p class="text-muted">Reset counter and log changes. Lock counter. Export and import counter data.</p>
				</div>
			</div>
		</div>
		<div class="card p-2 h-100 mt-4">
			<h3 class="text-warning">Free an premium</h3>
			<p class="text-muted">All features and functionalities are freely available in the basic version. However, you may support our efforts by buying Premium version - one time payment for a lifetime. Thank you in advance.</p>
		</div>
	</article>
	<div class="py-4"></div>
</section>


<section class="py-5">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Screenshots</h1>
		<div class="text-center">
			{{ macros::image_gallery(path="countonme/", imgs=["ss2.png", "ss4.png", "ss3.png", "ss1.png", "ss6.png", "ss5.png"]) }}
		</div>
	</article>
	<div class="py-5"></div>
</section>


<section class="py-5">
{{ macros::install_countonme() }}
<div class="pb-5"></div>
</section>


{% endblock main %}
