{% extends "_base.html" %}

{% block navbar %}
{{ macros::navbar() }}
{% endblock navbar %}


{% block header %}
<div class="py-4"></div>
<header class="py-3">
	<article class="container p-5 w-75 text-center top-header border rounded">
		<img src="{{ section.path }}icon.png" class="w-15 p-1 border rounded-circle border-success" alt="Count On Me">
		<h1 class="fs-1 mt-3 mb-1 top-header">Count On Me</h1>
		<h2 class="fs-4 fw-light text-tracked">A versatile tally counter app with many options, advanced features, statistics, various methods of counting, and feedback effects.</h2>
		<br>
		<img class="w-100 img-fluid" src="/countonme/banner.png">	
	</article>
</header>
{% endblock header %}


{% block main %}
<div class="py-4"></div>
<section class="py-5 bg-warning bg-opacity-10">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Features</h1>
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Privacy-first app</h3>
					<p class="text-muted">Your data is stored only on your phone and remains there. Nothing is transfered to the internet except if you export your data on your own.
						Check our <a href="/countonme/privacy-policy">privacy policy</a>.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Free of ads</h3>
					<p class="text-muted">There are no ads in the app. No bandwidth stealing and no delays due to ad loading. Your focus stays on counting.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Full customizable</h3>
					<p class="text-muted">Create many different types of counters and organize them using tags. Set counter label, color, icon, sound, description, etc.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Various effects available</h3>
					<p class="text-muted">Notification of counter change via feedback such as sound effect, phonelight flash, screen flash, vibration etc.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Rich data and statistics</h3>
					<p class="text-muted">See details of your counters. Follow your progress with graphical progress bar. Compare increments and decrements with pie chart.</p>
				</div>
			</div>
			<div class="col">
				<div class="card p-2 h-100">
					<h3 class="text-warning">Advanced features</h3>
					<p class="text-muted">Reset counter and log changes. Lock counter. Export and import counter data.</p>
				</div>
			</div>
		</div>
		<div class="card p-2 h-100 mt-4">
			<h3 class="text-warning">Free and premium</h3>
			<p class="text-muted">All features and functionalities are freely available in the basic version. However, you may support our efforts by buying Premium version - one time payment for a lifetime. Thank you in advance.</p>
		</div>
	</article>
	<div class="py-4"></div>
</section>


<section class="py-5">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Screenshots</h1>
		<div class="text-center">
			{{ macros::image_gallery(path="countonme/", imgs=["ss2.png", "ss4.png", "ss3.png", "ss1.png", "ss6.png", "ss5.png"]) }}
		</div>
	</article>
	<div class="py-5"></div>
</section>


<section class="py-5 bg-warning bg-opacity-10">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Description</h1>
		<div class="px-5 text-justify">
		<h5>A versatile tally counter app with many options, advanced features, statistics, various methods of counting, and feedback effects.</h5>

		<p">It helps you to improve your habits, yourself, and your life by creating multiple counters for anything you want: trips, meals, cars 🚘, people, planks, scores 🎯, points, coffees ☕️, or kisses 🥰. Count On Me app includes advanced features such as sound effects, a large set of icons, color swatches, flash effects, vibration feedback, shake detection as well as extensive counter statistics, and visualizations.</p>

		<p>Your counter can be triggered via various actions such as tapping👆and shaking 👋 while providing various visual and audio effects such as the screen or light flash, vibration or sound effects, etc.</p>

		<p>You can customize each counter with a label, color 🏳️‍🌈, icon, sound effect 📣, screen flash, light flash 🔦, vibration, etc. and add custom notes.</p>

		<p>Examine rich statistical information for each counter: number and ratio of increments and decrements, admire your counting progress via graphic visualizations such as a pie chart and progress bar.</p>

		<p>Important counting events are also automatically logged. For example, the counting start date (the first change of a counter) and the last change of a counter.</p>

		<p>For each counter, you can set its minimum and maximum values as well as the reset and step values (for example, if you want to increase your counter by larger than one increments).</p>

		<p>You can organize your counters into groups using tags. For example, you may have a tag "rummy" or "bridge" for tracking scores at various card games.</p>

		<p>Absolutely free of ads with no distractions and completely private: your data stays on your phone unless you export it and send it by email. No unnecessary permissions (no internet access) are required.</p>

		<p>Most of the features are available in the free version, but with the premium version, you get even more icons, sound effects, and an unlimited number of counters as well as the satisfaction that you support good software. Thanks!</p>

		<p>Enjoy counting!</p>
		</div>
	</article>
</section>


<section class="py-5">
	<div class="py-2"></div>
	<article class="container">
		<h1 class="text-danger text-smallcaps text-tracked mb-3">Posts and resources</h1>
		<ul>
			<li/>Use case: <a href="/countonme/use-hydration">Stay hydrated with the Count On Me app</a>
			<li/><a href="/countonme/privacy-policy">Count On Me Privacy Policy</a>
		</ul>
	</article>
</section>


<section class="py-5">
{{ macros::install_playstore(
	question='Want to count something?',
	motto='Count On Me app for Android OS is easily available for you to install in the Google Play store.',
	appid='CountOnMe')
}}
<div class="pb-5"></div>
</section>
{% endblock main %}
