{% extends "_base.html" %}

{% block header %}
<header class="pb5">
<section class="mw9 relative center">
	<img src="imgs/banner.png" class="mw-100 mw-100-ns pa0" alt="TopAppField">
	<div class="bg-washed-green ba br2 b--green bottom-centered pv3 ph3 w-70 tc">
		<h1 class="f2 f2-ns fw5 tracked dark-green">TOP apps for TOP people</h1>
	</div>
</section>
</header>
{% endblock header %}


{% block main %}
<main>
<section class="tc">
	<h1 class="f1 f1-ns dark-green">Our apps</h1>
</section>

<article class="mw7 h5 pa3 pa4-ns center v-mid bg-white br3 ba b--light-green">
	<a href="countonme">
	<div class="fl w-third">
		<img src="countonme/icon.png" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Count On Me">
	</div>
	<div class="fl w-two-thirds">
		<h1 class="f3 mb2 dark-green">Count On Me</h1>
		<h2 class="f5 fw4 gray">The ultimate app for counting everything.</h2>
	</div>
	</a>
</article>
</main>
{% endblock main %}


{% block footer %}
<section class="tc pa4">
TODO: Privacy policy, About us
</section>
{% endblock footer %}
